// cards

.cards-title {
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
    margin-top: 30px;
    margin-left: 10px;
}

.cards_ {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 263px;
    height: 344px;
    flex-shrink: 0;
}

.card-img {
    margin: 42px 32px;
}

.card-about {
    margin-left: 20px;
}

.card-title {
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-text {
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

.card-price {
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 9px;
}

.heart-icon {
    width: 18px;
    height: 18px;
    position: relative;
    left: 230px;
    transition: 0.8s;
    cursor: pointer;
}

.heart-icon:hover {
    transform: scale(1.2, 1.2);
}