// ending

.footer {
    height: 234px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    // background-color: red;
}

.footer-left {
    padding-top: 54px;
}

.footer-left-title {
    color: #000;
    // text-align: right;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 126.688%;
    /* 17.736px */
}

.services {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.services_ li {
    margin-right: 10px;
    margin-top: 7px;
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.688%;
    /* 17.736px */
}

.footer-end {
    margin-top: 34px;
}

.novinki {
    margin-left: 31px;
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.688%;
    /* 17.736px */
}

.footer-right {
    margin-top: 54px;
    text-align: right;
}

.footer-right h1 {
    color: #000;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 20px;
}

.footer-right p {
    color: #414141;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.688%;
    margin-bottom: 25px;
}

.contacts {
    color: var(--text-color, #414141);
    text-align: right;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.688%;
    /* 17.736px */
    display: flex;
    align-items: center;
    gap: 30px;
}

.contacts li{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

